*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'open sans';
	font-size: 16px;
}

header{
	width: 100%;
	height: 650px;
	background-image:url(fondo1.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	color:#fff;
	text-align: center;

}
header .textos{
	margin-top: 152px;
	-webkit-text-stroke: 1px #EDDDC3;
 font-family: arial; color: #1836e0;
 font-size: 30px;

 
}
header .titulo{
	font-size: 85px;
	-webkit-text-stroke: 3px #ebeff3;
 font-family: arial; color: #e01818;
}
header .subtitulo{
	font-size: 42px;
	font-weight: 300;
	margin-bottom: 32px;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}
.menu1{
	list-style: none;
	padding: 0;
	background: #fff;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu1 li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu1 li{
	display: inline-block;
	text-align: center;
}

.menu1 li img{
	width:100;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;

}
.sesgoabajo{
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0  15vh 100vw;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
.sesgoarriba{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	border-width:15vh 100vw 0 0  ;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
}
.acerca-de{
	background-color: #68B2DF;

}
.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	padding: 52px 0;
}
.sobre-nosotros{
	text-align: center;
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 600;
}
.parrafo{
margin-bottom: 13px;
font-weight: 300;
font-size: 1.2em;
text-align: justify;
line-height: 35px;
color: rgb(29, 6, 6)
}
.galeria{
    width: 100%;
    height: 500px;
    overflow:hidden;
    display:flex;
    position: relative;   
}
.imagenes{
    width: 20%;
    height: 500px;
    overflow:hidden;
    position: relative;
}
.imagenes img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin:auto;
}
.encima{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background: hsla(210, 29%, 29%, 0.849);

}
.encima h2{
	position: relative;
	top:45%;
	text-align: center;
	color: #fff;

}
.encima div{
	position: relative;
	display: block;
	top: 46%;
	width: 40px;
	height: 5px;
	background: #fff;
	margin:auto;
}
.pie .abajo{
	position: relative;
	bottom: 0;
	left:0;
	width: 100%;
	height: 10;
	background: #34495e;

}
.pie .abajo h2{
	position: relative;
	bottom:45%;
	text-align: center;
	color: #fff;

}
.pie .abajo div{
	position: relative;
	display: block;
	bottom: 46%;
	width: 40px;
	height: 5px;
	background: #fff;
	margin:auto;
}
.fotopelis2 img{
	width: 200px;
	height: 200px;
	float:left;
	margin-right: 10px;
	border-radius: 30%;
}
.boton{
	display: inline-block;
  border-radius: 4px;
  background-color: #34495e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.fotopelis img{
	width: 200px;
	height: 200px;
	float:left;
	margin-right: 10px;
	border-radius: 30%;
}
.fotopelis {
	width: 25%;
	float:left;
}



.ir-arriba
{
	display: inline-block;
	padding: 20px;
	background: #024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;

}